<header>
  <div class="container">
      <h1>Banco Confianza</h1>
      <nav>
          <a href="home.html">Inicio</a>
          <a href="crear_cuenta.html">Crear Cuenta</a>
          <a href="hacerse_socio.html">Hacerse Socio</a>
          <a href="movimientos.html">Movimientos</a>
          <a routerLink="/reportes" routerLinkActive="active" ariaCurrentWhenActive="page">Reportes</a>
      </nav>
  </div>
</header>
<router-outlet/>
<footer>
  <p>&copy; 2024 Banco Confianza. Todos los derechos reservados.</p>
</footer>