<main>
    <div class="container">
        <h2>Reportes de Cuenta</h2>
        <form action="/reportes" method="post">
            <div>
                <label for="id_reporte">ID Reporte</label>
                <input type="number" id="id_reporte" name="id_reporte">
            </div>
            <div>
                <label for="id_usuario">ID Usuario</label>
                <input type="text" id="id_usuario" name="id_usuario">
            </div>
            <div>
                <label for="id_movimiento">ID Movimiento</label>
                <input type="number" id="id_movimiento" name="id_movimiento">
            </div>
            <div>
                <label for="description_reporte">Descripción</label>
                <input type="text" id="description_reporte" name="description_reporte">
            </div>
            <input type="submit" value="Generar Reporte">
        </form>
    </div>
</main>
<footer>
    <p>&copy; 2024 Banco Confianza. Todos los derechos reservados.</p>
</footer>